---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=4&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_6BRNRq14487SJKowZrsKs2Gc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1A7P0nJbg6qtaO0vpzIEjUC1",
          "object": "token",
          "card": {
            "id": "card_1A7P0nJbg6qtaO0vPi3ocivO",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "cnG6iB5ewrN3lqfO",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "2.222.152.243",
          "created": 1491917185,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 11 Apr 2017 13:26:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=999&card=tok_1A7P0nJbg6qtaO0vpzIEjUC1&currency=usd&description=a+valid+charge
    headers:
      Authorization:
      - Bearer sk_test_6BRNRq14487SJKowZrsKs2Gc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "charge": "ch_1A7P0oJbg6qtaO0vc2yw5Gwc"
          }
        }
  recorded_at: Tue, 11 Apr 2017 13:26:29 GMT
recorded_with: VCR 3.0.3
