---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_6BRNRq14487SJKowZrsKs2Gc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1A7SUaJbg6qtaO0vxHf9n6n7",
          "object": "token",
          "card": {
            "id": "card_1A7SUaJbg6qtaO0vJAlaDVJb",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "poY4tcWUJwOkPdQM",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "2.222.152.243",
          "created": 1491930564,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 11 Apr 2017 17:09:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: source=tok_1A7SUaJbg6qtaO0vxHf9n6n7&email=garfield.beer%40bashirianmaggio.info&plan=basic
    headers:
      Authorization:
      - Bearer sk_test_6BRNRq14487SJKowZrsKs2Gc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_ASNFvp5cXN8KYS",
          "object": "customer",
          "account_balance": 0,
          "created": 1491930565,
          "currency": "gbp",
          "default_source": "card_1A7SUaJbg6qtaO0vJAlaDVJb",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "garfield.beer@bashirianmaggio.info",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1A7SUaJbg6qtaO0vJAlaDVJb",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_ASNFvp5cXN8KYS",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2018,
                "fingerprint": "poY4tcWUJwOkPdQM",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_ASNFvp5cXN8KYS/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_ASNFeC8q0i8Yy4",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1491930565,
                "current_period_end": 1494522565,
                "current_period_start": 1491930565,
                "customer": "cus_ASNFvp5cXN8KYS",
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_1A7SUbJbg6qtaO0vJjRby8K1",
                      "object": "subscription_item",
                      "created": 1491930566,
                      "plan": {
                        "id": "basic",
                        "object": "plan",
                        "amount": 999,
                        "created": 1491929706,
                        "currency": "gbp",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "name": "basic",
                        "statement_descriptor": null,
                        "trial_period_days": null
                      },
                      "quantity": 1
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_ASNFeC8q0i8Yy4"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "basic",
                  "object": "plan",
                  "amount": 999,
                  "created": 1491929706,
                  "currency": "gbp",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "basic",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1491930565,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_ASNFvp5cXN8KYS/subscriptions"
          }
        }
  recorded_at: Tue, 11 Apr 2017 17:09:30 GMT
recorded_with: VCR 3.0.3
